[Unit]
Description=Vtiger CRM WebSocket Service
Requires=mysql.service
After=mysql.service
StartLimitIntervalSec=0

[Service]
Type=simple
Restart=always
RestartSec=5
User=www-data
ExecStart=/usr/bin/php /var/www/vtigercrm/websocket.php
StandardError=/var/www/vtigercrm/data/logs/websocket.log

[Install]
WantedBy=default.target
